<p id="notice"><%= notice %></p>

<h2>You have entered the <%= @building.name %> Building.</h2>
<!--<a href='http://www.example.com' rel="nofollow" data-method="delete">-->
<a class="thumbnailLink media" data-link="href{:linkUrl}" onclick="Pb.Track.tr('');" href="http://localhost:3000/buildings/<%= @building.id %>" data-method="delete">
  <img data-link="src{:thumbUrl} alt{:alt}" src="http://rs1219.pbsrc.com/albums/dd425/Abohoi/red-button_zpsb355417d.gif~c200" alt="red button photo: Red button red-button_zpsb355417d.gif">
  <div class="thumbnailOverlay"></div>
</a>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>
